.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
}

 .location, .first-and-last-name, .user-photo, .name-and-email, .zip-and-tel, .main {
    display: flex;
}

.gender {
    margin-bottom: 20px;
}