.main {
    position: relative;
    width: 1440px;
    height: 700px;
    background: #F7F7F7;
}

.form-account {
    position: absolute;
    width: 570px;
    height: 590px;
    left: 135px;
    top: 55px;
    background: #FFFFFF;
    border-radius: 6px;
}

.form-profile {
    position: absolute;
    width: 570px;
    height: 590px;
    left: 735px;
    top: 55px;
    background: #FFFFFF;
    border-radius: 6px;
}

.first-name {
    position: absolute;
    left: 5.96%;
    right: 51.05%;
    top: 14.75%;
    bottom: 73.9%;
}

.last-name {
    position: absolute;
    left: 51.05%;
    right: 5.96%;
    top: 14.75%;
    bottom: 73.9%;
}

.email-account {
    position: absolute;
    left: 6.32%;
    right: 5.96%;
    top: 29.49%;
    bottom: 54.92%;
}

.male {
    position: absolute;
    right: 82.81%;
    left: 6.32%;
    top: 48.47%;
    bottom: 47.8%;
}

.female {
    position: absolute;
    left: 20.88%;
    right: 65.44%;
    top: 48.47%;
    bottom: 47.8%;
}

.country-in-account {
    position: absolute;
    left: 6.32%;
    right: 50.7%;
    top: 55.59%;
    bottom: 33.05%;
}

.city-in-account {
    position: absolute;
    right: 5.96%;
    left: 51.05%;
    bottom: 33.05%;
    top: 55.59%;
}

.button-account {
    position: absolute;
    left: 6.32%;
    right: 5.96%;
    top: 70.34%;
    bottom: 23.22%;
}

.account-description {
    position: absolute;
    left: 14.21%;
    right: 13.86%;
    top: 80.51%;
    bottom: 13.39%;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;
}

.terms {
   
    font-style: normal;
    font-family: 'Inter';
    color: #007BFF;
}

.label {
    position: absolute;
    height: 22px;
    left: 0px;
    right: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}

.input {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 29px;
    bottom: 0px;
}

.hline {
    position: absolute;
    left: 6.32%;
    right: 5.96%;
    top: 90%;
    bottom: 9.83%;
    display: block;
    border: 0;
    border-top: 1px solid #E4E4E4;
}

.footer-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    height: 22px;
    left: 34.39%;
    right: 34.56%;
    top: calc(50% - 22px/2 + 268px);
}

.input-container {
    display: flex;
    flex-direction: column;
}

 .location, .first-and-last-name, .user-photo, .name-and-email, .zip-and-tel, .main {
    display: flex;
}

.heading {
    color: #1C1C1C;
    position: absolute;
    height: 32px;
    left: 6.32%;
    right: 58.77%;
    top: calc(50% - 32px/2 - 244px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}